.notes-cont{
    display: block;
    height: 800px;
    background-color: lightblue;
    margin-top: 20px;
    padding: 20px;
}
.row{
    display: flex;
}
.note{
    height: 160px;
    width: 160px;
    background-color: lightcoral;
    margin: 20px;
    padding: 20px;
}