body{
    margin: 0;
}
.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 50px 100px;
}
.nav-button{
    padding: 25px;
    cursor: pointer; 
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
}
.modal-content{
    background-color: #fefefe;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close-x{
    font-size: 40px;
    font-weight: 1000;
    cursor: pointer;
    float: right;
    color: grey;
}
.close-x:hover, .close-x:focus{
    color: darkslategray;
}

.notes-cont {

    display: none;
    height: 2000px;
    background-color: lightblue;
    padding: 25px;
}
.logged-out-cont {
    height: 2000px;
    background-color: lightgray;
    margin-top: 20px;
    padding: 20px;
}
.row {
    display: flex;
}
.new-note-float{
    height: 272px;
    width: 200px;
    /*background-color: white;*/
    margin: 20px;
    border: 20px;
    /*border-radius: 20px;*/
    border-color: lightslategray;
    border-style: dashed;
    display: flex;
}
.new-note-float button{
    background-color: transparent;
    border: none;
    margin: auto;
}
.new-note-float i{
    font-size: 120px;
    margin: auto;
    color: lightslategray;;
}
.note {
    height: 300px;
    width: 240px;
    background-color: orange;
    margin: 20px;
    /*padding: 20px;*/
}
.inner-note {
    background-color: lightcoral;
    padding: 20px;
    height: calc(100% - 60px);
}
.note-textarea {
    width: auto;
    background-color: transparent;
    color: white;
    font-size: 16px;
    overflow: hidden;
    resize: none;
    outline: none;
    border: none;
}

.top-bar {
    display: flex;
    background-color: darkslateblue;
    width: 95%;
    padding-right: 5%;
    justify-content: end;
}
.top-bar button {
    background-color: transparent;
    border: none;
}
.top-bar i {
    font-size: 20px;
    margin: 5px 0;
    color: whitesmoke;
}
.trash-button{
    cursor: pointer;
}

